body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
  height: 100vh;
  background-color: rgb(21, 19, 24);
}

* {
  box-sizing: border-box;
}

.ant-modal-content{
  background-color: #161d28 !important;
}

.ant-modal-close{
  color: #FFFFFF !important;
}