@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.ant-modal-content{
  background-color: #161d28 !important;
}

.ant-modal-close{
  color: #FFFFFF !important;
}